<div class="product-testimonial">
  <div class="product-testimonial-img">
    <img src="{{ 'testimonial.png' | asset_img_url: 'master' }}" alt="">	
  </div>
  <div class="product-testimonial-info">
    <h3>Happy wellness story</h3>
    <div class="testimonial-quote">
      <h5>Cuando ganar significa pender</h5>
      <div class="quote">
        <p>Francesca ha descubierto que, en esto de mantener la línea, no se trata de restar, sino de sumar. No hay que pensar en perder kilos, sino en ganar calidad de vida. Cuando hizo ese cambio de chip, dejó de contar y descontar calorías.</p>
        <p>Magrifit la ayudó a dar el primer paso. Dejó de retener líquidos, mejoró sus digestiones y enseguida se sintió más ligera. Sobre todo, dejó de comer por ansiedad y empezó a disfrutar alimentándose bien. Con nutrientes de calidad en su organismo, cada paso se hizo más fácil que el anterior: disfrutar de los aromas y sabores de frutas y verduras, salir a correr y a respirar aire puro... Ahora se ha pasado a la comida orgánica y se siente en armonía consigo misma y con el entorno. Y además ha perdido peso, claro.</p>
      </div>
      <div class="author">Francesca Miabella</div>
    </div>
    <span class="additional-info">*Historia inspirada en las experiencias reales de nuestros clientes</span>
  </div>
</div>

{% schema %}
{
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
