<div class="product-info-wrapper">
  <div class="product-info-block ingredients">
    <h3 class="product-info-titile">Principios Activos</h3>
    <ul class="ingredients-list">
      <li>
        <strong>Guaraná:</strong>
        <span> tiene efecto tónico, diurético y estimulante.</span>
      </li>
      <li>
        <strong>Morera:</strong>
        <span> tiene propiedades diuréticos, favorece la digestión y previene la retención de líquidos.</span>
      </li>
      <li>
        <strong>Artemisa:</strong>
        <span> favorece la digestión y previene la retención de líquidos.</span>
      </li>

      <li>
        <strong>Melisa:</strong>
        <span> posee un efecto relajante y contribuye a mitigar la ansiedad por la comida.</span>
      </li>

      <li>
        <strong>Aloe vera:</strong>
        <span> ayuda a mejorar el tránsito intestinal.</span>
      </li>

      <li>
        <strong>Cromo:</strong>
        <span> contribuye al metabolismo normal de los macronutrientes que necesita tu cuerpo.</span>
      </li>
      <li>
        <strong>Colina:</strong>
        <span> un nutriente esencial, relacionado con las vitaminas del grupo B, que contribuye al correcto funcionamiento metabólico de tu organismo, especialmente en las funciones hepática y renal. Además, tiene acción antiinflamatoria y relajante.</span>>
      </li>
    </ul>
  </div>
  <div class="product-info-block tags">
    <div class="tags-block">
      <h3 class="product-info-titile">Orgullosos de ser 100% free</h3>
      <ul class="tags-list">
        <li>Gluten</li>
        <li>Lactosa free</li>
        <li>Azucar free</li>
        <li>Ogm free</li>
        <li>Colorantes free</li>
        <li>Vegan</li>
        <li>Aditivos químicos free</li>
        <li>Estearato de magnesio free</li>
      </ul>
    </div>
    <div class="logo-list">
      <h3 class="product-info-titile">Hablan de nosotros</h3>
      <ul>
        <li>
          <img src="{{ 'logo-sm-1.png' | asset_img_url: 'master' }}" alt="">	
        </li>
        <li>
          <img src="{{ 'logo-sm-2.png' | asset_img_url: 'master' }}" alt="">	
        </li>
        <li>
          <img src="{{ 'logo-sm-3.png' | asset_img_url: 'master' }}" alt="">	
        </li>
      </ul>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
